.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 400px;
    margin:auto;
    padding-top: 30px;
}
.cell {
    background-color: #222;
    color: white;
    font-size: 3em;
    flex: 0 0 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-bottom: 5px;
    /*background-color: #999;*/
}
